<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Nhập từ khóa</label>
            <input placeholder="Nhập từ khóa ..." type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp">

        </div>

       
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>